body {
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
}

main {
  padding: 20px;
}

footer {
  background-color: #eee;
  text-align: center;
  padding: 10px;
}
